// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////

.welcome-back {
  text-align: right;
  float: right;
  width: 30%;
  margin-top: 25px;
  color: white;
}

.nhsuk-input--width-30 {
  max-width: 30ex;
}

.context {
  border-left: 3px $color_nhsuk-grey-4 solid;
  padding: 10px;
  margin-top: 10px;
  margin-left: -20px;
}