{% extends 'layouts/layout-transactional.html' %}

{% block pageTitle %}
   Start - Control access to my medical information
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
href: "/",
text: "Home"
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1>
      Who has access to your medical information
    </h1>
    <div class="nhsuk-panel">
      <table>
        <thead>
          <tr>
            <td>Name</td>
            <td>Date given</td>
            <td>Access permissions</td>
            <td></td>
          </tr>
        </thead>
        <tr>
          <td>Local Clinic</td>
          <td>2018-09-15 onwards</td>
          <td>Contact Info, Medication, Allergies, Observations</td>
          <td><a href="/has-access" name="local-clinic" type="submit">More info</a></td>
        </tr>
        <tr>
          <td>Private therapist</td>
          <td>2018-08-12 to 2019-08-12</td>
          <td>Contact Info, Medication, Observations</td>
          <td><a href="/has-access">More info</a></td>
        </tr>
      </table>
    </div>
    <h1>
      Who is requesting access to your medical information
    </h1>
    <div class="nhsuk-panel">
      <table>
        <thead>
          <tr>
            <td>Name</td>
            <td>Date asked</td>
            <td>Reason</td>
            <td></td>
          </tr>
        </thead>
        <tr>
          <td>Name</td>
          <td>Date asked</td>
          <td>Appointment for </td>
          <td><a class="nhsuk-button" href="/request-access">View</a></td>
        </tr>
      </table>
    </div>

    <h1>
      Who doesn't have access to your medical information
    </h1>

    <div class="nhsuk-panel">
      <table>
        <thead>
          <tr>
            <td>Name</td>
            <td>Denied on</td>
            <td></td>
          </tr>
        </thead>
        <tr>
          <td>Name</td>
          <td>2018-02-23</td>
          <td>View history</td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock %}
