{% extends 'layouts/layout-transactional.html' %}

{% block pageTitle %}
   Dashboard - Control access to my medical information
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
href: "/",
text: "Home"
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-warning-callout" style="padding-top: 32px !important; margin-top: 0">
      <p>You have removed access from <strong>Private therapist</strong>.</p>
    </div>
    <h1>
      Who has access to your medical information
    </h1>
    <div class="nhsuk-panel">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Date given</th>
            <th>Access permissions</th>
            <th></th>
          </tr>
        </thead>
        <tr>
          <td>Department for Work and Pensions</td>
          <td>23rd March 2019</td>
          <td>Contact details, Conditions</td>
          <td><a href="/remove-access">Remove access</a></td>
        </tr>
        <tr>
          <td>Local Clinic</td>
          <td>15th September 2018</td>
          <td>Contact details, Medication, Allergies, Conditions</td>
          <td><a href="/remove-access">Remove access</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock %}
