{% extends 'layouts/layout-transactional.html' %}

{% block pageTitle %}
   Start - Control access to my medical information
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
href: "/",
text: "Home"
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1>
      Control access to my medical information
    </h1>

    <p>
      Use this service to:
    </p>

    <ul>
      <li>
        view who has access to your medical information
      </li>
      <li>
        accept new requests to view your medical information
      </li>
      <li>
        remove any one who you don’t want to have access any more
      </li>
    </ul>

    <a href="/" class="nhsuk-button nhsuk-u-margin-bottom-8">
      Start now
    </a>

    <h2>Before you start</h2>
    <p>You will need to use your NHS Login to use the service.</p>
    <p>If you don’t have one already then you can <a href="#">learn more about it</a></p>

  </div>

</div>
{% endblock %}
